.allProductContainer {
  padding: 80px 0px;
  background-color: #f7f8fa;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  width: 100%;
}

.allProductHeading {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

.productList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0px 40px;
  max-width: 1280px;
  margin: 0px auto;
}

.productItem {
  width: calc(33% - 24px);
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .05);
  border-radius: 15px;
  padding-bottom: 0;
  overflow: hidden;
}

.productItem a {
  text-decoration: none;
  color: #000;
  position: relative;
  height: max-content;
  display: block;
}

.stickFeatured {
  width: 100%;
  padding: 4px 8px;
  background: red;
  position: absolute;
  top: 20px;
  left: calc(-45% - -10px);
  font-size: 14px;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  transform: rotate(-45deg);
  text-align: center;
}

.productImage {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.productName {
  font-size: 18px;
  margin: 6px 0px 15px;
}

.productFeedback,
.list-star {
  display: flex;
  align-items: center;
  gap: 10px;
}

.list-star {
  gap: 4px;
}

.list-star svg {
  font-size: 14px;
  color: #ffb21d;
}

.productDescription {
  font-size: 14px;
  color: #555;
}

.productItem {
  transition: all .5s;
}

.productItem:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .0);
}

.productItem .info {
  padding: 10px 20px 20px;
}

.productItem .productPrice {
  border-top: 1px solid #dedede;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 16px;
  color: #555;
}

.productItem .productPrice .price {
  font-weight: 700;
  margin-left: 6px;
  color: #000;
  font-size: 18px;
}