.new {
  width: 100%;
  display: flex;
  min-height: 100vh;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: #999;
        font-size: 20px;
      }

      .left {
        flex: 0.5;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          gap: 30px;
          justify-content: space-between;

          .formInput {
            width: 40%;

            .css-1u3bzj6-MuiFormControl-root-MuiTextField-root,
            .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
            .css-1nrlq1o-MuiFormControl-root {
              width: 100%;

              .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
                padding: 10px;
              }
            }

            img {
              width: 30%;
            }

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .icon {
                cursor: pointer;
              }
            }

            input {
              width: 100%;
              padding: 10px;
              border: none;
              border-bottom: unset;
            }
          }

          button.btn-save {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;
          }
        }
      }
    }

    .top {
      box-shadow: unset;
    }

    .bottom {
      padding: 20px;
    }
  }
}

.css-1e2bxag-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell:nth-child(3) {
  white-space: unset !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  -webkit-transform: translate(14px, 10px) scale(1) !important;
  -moz-transform: translate(14px, 10px) scale(1) !important;
  -ms-transform: translate(14px, 10px) scale(1) !important;
  transform: translate(14px, 10px) scale(1) !important;
}